<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" data-provider-thread-count="20" thread-count="10">
    <test name="IndieGoGo">
        <parameter name="information" value="test"/>
        <parameter name="nameOfProject" value="EyeQue VisionCheck, World's 1st Automated Eye Test"/>
        <parameter name="informationTwo" value="world"/>
        <parameter name="text" value="WE ARE SHIPPING NOW!"/>
        <packages>
            <package name="tests"/>
        </packages>
    </test>
</suite> <!-- Suite -->